/* base: 3em; */
/* padding: .5em */
/* color: #000000 */
/* @background: #FFFFFF; */
.yma_player {
  border-color: lightgrey;
  color: #000000;
  /* color: @color; */
  border-width: 1px 0;
  border-style: solid;
  height: 3em;
  /* height: @base; */
  padding: 0.5em 3em;
  /* padding: @padding @base; */
  position: relative;
}
.yma_player *,
.yma_player *:before,
.yma_player *:after {
  box-sizing: inherit;
}
.yma_player_display {
  text-align: center;
}
.yma_player_artist,
.yma_player_title {
  font-size: .8em;
}
.yma_player_artist:after {
  content: ' — ';
}
.yma_player_artist.single:after {
  content: '';
}
.yma_player_play_button {
  position: absolute;
  top: 0.5em;
  /* top: @padding; */
  left: 0;
  margin: 0;
  padding: 0;
  width: 3em;
  /* width: @base; */
  height: 3em;
  /* height: @base; */
  cursor: pointer;
}
.yma_player_play_button i {
  position: absolute;
  font-size: 3em;
  /* font-size: @base; */
  width: 1em;
  height: 1em;
  line-height: 1em;
}
.yma_player_background_bar,
.yma_player_progress_bar {
  position: absolute;
  top: -0.6em;
  left: 0;
  height: .2em;
  cursor: pointer;
  border-radius: .1em;
  border-width: .5em 0;
  border-style: solid;
  border-color: transparent;
}
.yma_player_background_bar {
  width: 100%;
  background-color: transparent;
}
.yma_player_progress_bar {
  width: 0;
  background-color: transparent;
  /* background-color: @color; */
}
.yma_player_progress_bar:after {
  position: absolute;
  top: -0.1em;
  right: -0.2em;
  width: .4em;
  height: .4em;
  content: '';
  background: black;
  border-radius: 1em;
}
.yma_player_progress_bar.init:after {
  display: none;
}
.yma_player_volume_bar {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  border-width: 0 .5em;
  border-style: solid;
  border-color: #ffffff;
  margin: .5em 0;
  cursor: pointer;
  width: 1px;
  background-color: lightgray;
}
.yma_player_volume_button {
  content: '';
  position: absolute;
  left: -2px;
  background-color: lightgray;
  width: 5px;
  height: 5px;
  top: -2px;
  border-radius: 1em;
  display: none;
}
