/* base: 16px; */
/* text: 12px; */
/* color: #000000 */
/* @background: #FFFFFF; */
.yma_player {
  border-color: lightgrey;
  color: #000000;
  /* color: @color; */
  border-width: 1px 0;
  border-style: solid;
  height: 48px;
  /* height: (3 * @base); */
  padding: 8px 48px;
  /* padding: (@base / 2) (3 * @base); */
  position: relative;
  box-sizing: content-box;
}
.yma_player *,
.yma_player *:before,
.yma_player *:after {
  box-sizing: inherit;
}
.yma_player .yma_player_display {
  text-align: center;
}
.yma_player .yma_player_display .yma_player_artist {
  font-size: 12px;
  /* font-size: @text; */
  line-height: 24px;
  /* line-height: (1.5 * @base); */
}
.yma_player .yma_player_display .yma_player_artist:after {
  content: ' — ';
}
.yma_player .yma_player_display .yma_player_artist.single:after {
  content: '';
}
.yma_player .yma_player_display .yma_player_title {
  font-size: 12px;
  /* font-size: @text; */
  line-height: 24px;
  /* line-height: (1.5 * @base); */
}
.yma_player .yma_player_display .yma_player_post_title {
  font-size: 16px;
  /* font-size: @base; */
  line-height: 24px;
  /* line-height: (1.5 * @base); */
}
.yma_player .yma_player_play_button {
  position: absolute;
  top: 8px;
  /* top: (@base / 2); */
  left: 0;
  margin: 0;
  padding: 0;
  width: 48px;
  /* width: (3 * @base); */
  height: 48px;
  /* height: (3 * @base); */
  cursor: pointer;
}
.yma_player .yma_player_play_button i {
  position: absolute;
  font-size: 48px;
  /* font-size: (3 * @base); */
  width: 48px;
  /* width: (3 * @base); */
  height: 48px;
  /* height: (3 * @base); */
  line-height: 48px;
  /* line-height: (3 * @base); */
}
.yma_player .yma_player_background_bar,
.yma_player .yma_player_progress_bar {
  position: absolute;
  top: -9.6px;
  /* top: (-.6 * @base); */
  left: 0;
  height: 3.2px;
  /* height: (.2 * @base); */
  cursor: pointer;
  border-radius: 1.6px;
  /* border-radius: (.1 * @base); */
  border-width: 8px 0;
  /* border-width: (.5 * @base) 0; */
  border-style: solid;
  border-color: transparent;
}
.yma_player .yma_player_background_bar {
  width: 100%;
  background-color: transparent;
}
.yma_player .yma_player_progress_bar {
  width: 0;
  background-color: transparent;
}
.yma_player .yma_player_progress_bar:after {
  position: absolute;
  top: -1.6px;
  /* top: (-.1 * @base); */
  right: -3.2px;
  /* right: (-.2 * @base); */
  width: 6.4px;
  /* width: (.4 * @base); */
  height: 6.4px;
  /* height: (.4 * @base); */
  content: '';
  background: black;
  border-radius: 16px;
}
.yma_player .yma_player_progress_bar.init:after {
  display: none;
}
.yma_player .yma_player_volume_bar {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  border-width: 0 8px;
  /* border-width: 0 (.5 * @base); */
  border-style: solid;
  border-color: #ffffff;
  /* border-color: @background; */
  margin: 8px 0;
  /* margin: (.5 * @base) 0; */
  cursor: pointer;
  width: 1px;
  background-color: lightgray;
}
.yma_player .yma_player_volume_bar .yma_player_volume_button {
  content: '';
  position: absolute;
  left: -2px;
  background-color: lightgray;
  width: 5px;
  height: 5px;
  top: -2px;
  border-radius: 16px;
  display: none;
}
